---
id: 3755
title: Blog — Film Storyboards, production design portfolio by Yves Capelle
permalink: /blog/
author: Yves
layout: default
guid: http://film-storyboards.com/?page_id=3755
---


<section class="cf ph3 ph5-ns pv5">
  <article class="mw9-l f4-ns sans-serif">
    <h1 class="f2 lh-title fw7 mb3 mt0 pt3 bt bw2 avenir">{{ site.data.theme.text.latest_articles | default: "Recent Posts" }}</h1>

    {% for post in site.posts limit: site.data.theme.text.post_limit %}
    <a class="link black-80 hover-blue" href="{{ post.url | relative_url }}">
      <article class="f5 lh fw3 pb4 bb b--light-gray avenir">
        <div class="f5 fw3 silver lh-copy">
          {% if post.last_modified_at %}
          <span>{{ site.data.theme.text.updated }}<time datetime="{{ post.last_modified_at | date: "%Y-%m-%d %H:%M" }}">{{ post.last_modified_at | date: site.date_format }}</time></span>
          {% else %}
          <time datetime="{{ post.date | date: "%Y-%m-%d %H:%M" }}">{{ post.date | date: site.date_format }}</time>
          {% endif %}
          <span class="ttl">&middot; {% include read_time.html %}</span>
        </div>
        <h3 class="f3 f2-ns fw6 lh-title mt0 mb0">{{ post.title | escape }}</h3>
        <p class="f5 f4-ns fw3 lh-copy measure mv2">{{ post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
        <div class="f6 fw3 silver lh-copy mb0">{{ site.data.theme.text.read_more | capitalize }}&hellip;</div>
      </article>
    </a>
    {% endfor %}

    <div class="inline-flex">
      <a class="f5 f4-ns fw3 link black-80 hover-silver ba bw1 mv4 pv2 ph3" href="{{ site.data.theme.text.full_archive_url | relative_url }}">{{ site.data.theme.text.full_archive | default: "All Posts" }}</a>
    </div>

  </article>
</section>
