---
title: Portfolio
permalink: /portfolio/
author: Yves
layout: default
last_modified_at: 2020-12-11 00:24:48 +0100
image: /images/uploads/2017/07/dancing-feet-storyboard_063.jpg
---

<section class="cf pv0-ns pb5 ph5-ns ph2">
  <f1 class="f1 lh-title b helvetica pv4">Crafting storyboards since 1999</f1>
  <article class="flex-ns flex-wrap">

    {% assign posts = site.posts | where_exp: "post", "post.categories contains 'portfolio'" %}
    {% for post in posts %}

<div class="w-100 w-third-l pa1">

  <div class="aspect-ratio aspect-ratio--16x9" itemscope itemtype="http://schema.org/Blog" data-columns>

  <a href="{{ post.url }}" style="background-image:url({{ post.image }});"
      class="grow link-green dt hide-child db bg-center cover aspect-ratio--object"  />
    </a>

<span class="pa3 dib v-mid black truncate w-100 lh-copy avenir">{{ post.description }}</span>
</div>

<a href="{{ post.url }}" class="link black hover-white dtc v-mid w-100 h-100 child ttu tracked overlay lh-copy avenir"><h3>{{ portfolio.title }}</h3></a>

</div>

{% endfor %}

  </article>

  <br>
{% include site-search.html %}
</section>
