<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <title>
    {{ site.title }}
  </title>
  <meta name="author" content="{{site.author}}">
  <meta name="description" content="{{site.description}}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Gumroad widget -->
	{% if page.content contains "gumroad" %}
  <script src="https://gumroad.com/js/gumroad-embed.js"></script>
{% endif %}

	<!-- Atom Feed -->
  <link href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ site.title }} Feed">

	<!-- Favicon -->
<!-- <link rel="icon" type="image/png" href="/favicon.png"> -->

  <!-- Stylesheet -->
  <link rel="stylesheet" href="/css/stb-tachyons.min.css">

	<!-- SEO -->
  {% seo %}
</head>
