<nav role="navigation" class="db dt-l w-100 border-box pa3 ph5-l">
  <a class="ttu tracked b db dtc-l v-mid mid-gray hover-blue w-100 w-25-l tc tl-l mb2 mb0-l sans-serif" href="{{site.baseurl}}/" title="Home">{{ site.title }}</a>

  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l sans-serif">
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/portfolio/" title="Portfolio">Portfolio</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/credits/" title="@FilmStoryboards credits">Credits</a>
    <a class="link dim dark-gray f6 f5-l dib mr3 mr4-l" href="/sketchbook" title="Sketchbook">Sketchbook</a>
    <a class="link f6 f5-l ba b--solid ph3 pv2 mb2 mt2-ns mt3 dib dim blue grow" href="/hire-me" title="Hire me">Hire me</a>
  </div>
</nav>
