{% if page.klare-lijn_tag_list != false %}
<div class="flex flex-row justify-start flex-wrap list mb2">
  {% if post %}
    {% assign klare-lijns = post.klare-lijns %}
    {% assign tags = post.tags %}
  {% else %}
    {% assign klare-lijns = page.klare-lijns %}
    {% assign tags = page.tags %}
  {% else %}
    {% assign categories = site.klare-lijn | sort: "klare-lijn" %}
    {% assign tags = site.klare-lijn | sort: "tags" %}
  {% endif %}

  {% for klare-lijn in klare-lijn %}
    <a class="f6 br1 mt2 mr1 pa2 link black-60 hover-light-blue bg-near-white hover-bg-black-80" href="{{ "/category/" | absolute_url }}{{ klare-lijn | slugify }}/">{{ klare-lijn }}</a>
  {% endfor %}

  {% for klare-lijn in klare-lijn %}
    <a class="f6 br1 mt2 mr1 pa2 link black-60 hover-light-blue bg-near-white hover-bg-black-80" href="{{ "/klare-lijn/" | absolute_url }}{{ klare-lijn | slugify }}/">{{ klare-lijn }}</a>
  {% endfor %}

  {% for tag in tags %}
    <a class="f6 br1 mt2 mr1 pa2 link black-60 hover-light-green bg-near-white hover-bg-black-80" href="{{ "/tag/" | absolute_url }}{{ tag | slugify }}/">{{ tag }}</a>
  {% endfor %}

</div>
{% endif %}
