<p class="f3 f5-ns measure-wide lh-copy avenir">
  Sign-up to get <a href="https://storyboards.gumroad.com/">storyboard templates</a> news.
</p>
<form action="https://gumroad.com/follow_from_embed_form" class="form gumroad-follow-form-embed" method="post"> <input name="seller_id" type="hidden" value="3564742708604">
<input name="email" placeholder="you@domain.com" class="mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box courier" type="email"  class="required email mw-100 w-100 w5-ns f5 input-reset ba b--black-20 pv3 ph4 border-box">

  <input type="submit" value="Follow" name="subscribe" class="button-reset w-100 w-auto-ns bg-blue white f5 pv2 pv3-ns ph4 avenir ba b--black-10 bg-hover-blue">
    </form>